<div class="apod-card">
    <div class="apod-image">
        {{#if apod.is_image }}
            <a href="javascript:void(0)" onclick="showModal(apod-modal)">
                <img class="apod-img" src="{{ apod.url }}">
            </a>
            <div id="apod-modal" class="modal">
                <div class="modal-apod">
                    test
                </div>
            </div>
        {{else}}
            <a href="{{ apod.url }}">
                <img class="apod-img" src="/images/other.jpg">
            </a>
        {{/if}}
    </div>
    <div class="apod-body">
        <div class="apod-head">
            <h1>{{apod.title}}</h1>
            <h3>This is NASA's Astronomy Picture of the Day for {{ apod.date }}.</h3>
        </div>
        <div class="apod-text">
            <p>{{ apod.explanation }}</p>
        </div>
        <div class="apod-foot">
            <span class="left">
            {{ apod.credit }} | <a href="{{ apod.nasa_url }}">See this image at NASA's website</a>
            </span>
            {{#if user}}
                <div class="add-favorites-form right">
                    <form action="favorites/add" method="POST">
                        <input type="hidden" name="date" value="{{apod.date}}">
                        <input type="hidden" name="title" value="{{apod.title}}">
                        <input type="hidden" name="url" value="{{apod.url}}">
                        <input type="hidden" name="isImage" value="{{apod.is_image}}">
                        <input type="hidden" name="credit" value="{{apod.credit}}">
                        <input type="hidden" name="explanation" value="{{apod.explanation}}">
                        <input type="hidden" name="nasa_url" value="{{apod.nasa_url}}">
                        <input type="submit" name="add" value="Add to favorites">
                    </form>
                </div>
            {{/if}}
        </div>
    </div>
</div>