<div class="header">
    <ul>
        <li><a id="today" class="active" href="/today">Today</a></li>
        {{#if today}}
        <li><a href="#prev"><<</a></li>
        {{/if}}
        <li><a id="random" href="/random">Random</a></li>
        {{#if today }}
            {{today}}
        {{esle}}
            <li><a href="/next">>></a> {{today}} </li>
        {{/if}}
        {{#if user}}
            <li style="float:right"><a href="/logout">Logout: {{user.local.username}}</a></li>
            <li style="float:right"><a href="/favorites">Favorites</a></li>
        {{else}}
            <li style="float:right"><a href="javascript:void(0)" onclick="showModal('login-modal')">Login</a></li>
            <li style="float:right"><a href="javascript:void(0)" onclick="showModal('signup-modal')">Signup</a></li>
        {{/if}}
    </ul>
</div>